@page "/consent"

@inject IViewLocalizer localizer

@model ConsentModel

@{
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var langSuffix = (lang == "el") ? ".el" : string.Empty;
}

<section class="page-consent identity-panel">
    <h2 class="text-center">
        <a class="header-logo" href="/">
            <img class="mb-3" src="~/img/logo@(langSuffix).svg" />
        </a>
    </h2>
    <div class="page-header">
        <div class="client-logo pb-2">
            <img indice-if="Model.ClientLogoUrl is not null" class="img-fluid rounded-circle" src="@(Url.IsLocalUrl(Model.ClientLogoUrl) ? Url.Content(Model.ClientLogoUrl) : Model.ClientLogoUrl)" alt="Client's logo URL" />
            <img indice-if="Model.ClientLogoUrl is null" class="img-fluid rounded-circle" src="~/avatar/@Model.ClientName/128.jpg" alt="Client's logo URL" />
        </div>
        <h1><span class="header-text">@Model.ClientName</span></h1>
        <h3 indice-if="Model.ClientUrl != null">@localizer["This <a target=\"_blank\" href=\"{0}\">app</a> would like to", Model.ClientUrl]:</h3>
        <h3 indice-if="Model.ClientUrl == null">@localizer["This app would like to"]:</h3>
        <small class="text-muted">* @localizer["Uncheck the permissions you do not wish to grant."]</small>
    </div>
    <div class="page-body">
        <partial name="_ValidationSummary" />
        <form asp-action="Index" asp-controller="Consent" class="consent-form">
            <input type="hidden" asp-for="Input.ReturnUrl" />
            <div indice-if="Model.IdentityScopes.Any()" class="card border-0 mb-3 consent-buttons">
                <div class="card-body p-0">
                    <h4 class="card-title"><span class="bank-icon bank-icon-contact font-weight-600 pt-1 mr-1"></span>@localizer["Personal Information"]</h4>
                    <ul class="list-group">
                        @foreach (var scope in Model.IdentityScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                    </ul>
                </div>
            </div>
            <hr />
            <div indice-if="Model.ApiScopes.Any()" class="card border-0 mb-3 consent-buttons">
                <div class="card-body p-0">
                    <h4 class="card-title"><span class="bank-icon bank-icon-permissions font-weight-600 pt-1 mr-1"></span>@localizer["Application Access"]</h4>
                    <ul class="list-group">
                        @foreach (var scope in Model.ApiScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                    </ul>
                </div>
            </div>
            <div indice-if="Model.AllowRememberConsent" class="form-group consent-remember">
                <div class="form-check custom-checkbox d-inline-block">
                    <label class="form-check-label">
                        <input class="consent-scopecheck form-check-input" asp-for="Input.RememberConsent" />
                        @localizer["Remember My Decision"]
                        <span class="control"></span>
                    </label>
                </div>
            </div>
            <div class="form-group consent-buttons">
                <div class="form-row m-0 w-100">
                    <div class="col-sm-6 col-12 py-1">
                        <button type="submit" name="button" value="no" class="btn btn-link btn-block disallow-btn">@localizer["Cancel"]</button>
                    </div>
                    <div class="col-sm-6 col-12 py-1">
                        <button type="submit" id="submitConsent" name="button" value="yes" class="btn btn-primary btn-block" autofocus>@localizer["Accept"]</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts  {
    <script type="text/javascript" src="~/js/consent.js" asp-append-version="true" csp-nonce="true"></script>
}