@page "/logged-out"

@inject IViewLocalizer Localizer

@model LoggedOutModel

@{
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var langSuffix = (lang == "el") ? ".el" : string.Empty;
}

<section class="identity-panel wide logged-out">
    <article class="text-center">
        <h1>
            <a class="header-logo" href="/">
                <img class="mb-3 w-100" src="~/img/logo@(langSuffix).svg" />
            </a>
            <span class="header-text">@Localizer["Logout"]</span>
        </h1>
        <p>@Localizer["You are now logged out"]</p>
        <div indice-if="Model.PostLogoutRedirectUri != null">
            @Localizer["Click"] <a class="PostLogoutRedirectUri btn btn-primary" href="@Model.PostLogoutRedirectUri">@Localizer["here"]</a> @Localizer["to return to the application"]
            <span>@Model.ClientName</span>.
        </div>
        <iframe indice-if="Model.SignOutIframeUrl != null" width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
        <div indice-if="Model.PostLogoutRedirectUri == null">
            @Localizer["Click"] <a class="" href="~/">@Localizer["here"]</a> @Localizer["to return to the application"]
        </div>
    </article>
</section>

@section scripts {
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script csp-nonce="true" src="~/js/signout-redirect.js"></script>
    }
}
