@inject IViewLocalizer Localizer

@model MfaLoginViewModel

<div class="login-page">
    <div class="lead">
        <h1>@Localizer["Login"]</h1>
        <p>@Localizer["Multi factor authentication"]</p>
    </div>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                @if (Model.DeliveryChannel == TotpDeliveryChannel.Sms)
                {
                    <div class="card-header">
                        <h2>@Localizer["SMS"]</h2>
                    </div>
                    <div class="card-body">
                        @{
                            var maskedPhoneNumber = Regex.Replace(Model.User.PhoneNumber, @"\d(?!\d{0,1}$)", "X");
                        }
                        <div class="alert alert-primary" role="alert">We texted your phone @maskedPhoneNumber. Please enter the code to sign in.</div>
                        <form asp-controller="@MfaController.Name" asp-action="@nameof(MfaController.Index)">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="form-group">
                                <label asp-for="OtpCode">@Localizer["OTP Code"]</label>
                                <input class="form-control" placeholder="@Localizer["OTP Code"]" asp-for="OtpCode" autofocus />
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="RememberClient" />
                                    <label class="form-check-label" asp-for="RememberClient">@Localizer["Remember this device"]</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" name="button" value="login">@Localizer["Login"]</button>
                        </form>
                    </div>
                }
                @if (Model.DeliveryChannel == TotpDeliveryChannel.PushNotification)
                {
                    <div class="card-header">
                        <h2>@Localizer["Push Notification"]</h2>
                    </div>
                    <div class="card-body">
                        <form id="mfa-form" asp-controller="@MfaController.Name" asp-action="@nameof(MfaController.Index)">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <input type="hidden" asp-for="OtpCode" />
                            <p>
                                <b>@Model.User.UserName</b>
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                    <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg>
                                @Localizer["Because you've turned on two-step verification, you need to approve request on your mobile app."]
                            </p>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="RememberClient" />
                                    <label class="form-check-label" asp-for="RememberClient">@Localizer["I sign in frequently on this device. Don't ask me to approve requests here."]</label>
                                </div>
                            </div>
                            <p>
                                <a href="#">@Localizer["I can't use my app right now"]</a>
                            </p>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @if (Model.DeliveryChannel == TotpDeliveryChannel.PushNotification)
    {
        <script type="text/javascript" src="~/lib/@@microsoft/signalr/dist/browser/signalr.min.js"></script>
    }
    <script type="text/javascript" src="~/lib/@@fingerprintjs/fingerprintjs/dist/fp.min.js"></script>
    <script type="text/javascript" src="~/js/mfa.js"></script>
    <script type="text/javascript" csp-nonce>
        $(document).ready(function () {
            var viewModelParameters = {
                deliveryChannel: '@Model.DeliveryChannel',
                $otpCodeField: $('#OtpCode'),
                $mfaForm: $('#mfa-form')
            };
            var viewModel = new indice.mfaViewModelFactory(viewModelParameters);
            viewModel.init();
        });
    </script>
}
