@inject IViewLocalizer Localizer

@model MfaLoginViewModel

<div class="login-page">
    <div class="lead">
        <h1>@Localizer["Login"]</h1>
        <p>@Localizer["Multi factor authentication"]</p>
    </div>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                @if (Model.DeliveryChannel == TotpDeliveryChannel.Sms)
                {
                    <div class="card-header">
                        <h2>@Localizer["SMS"]</h2>
                    </div>
                    <div class="card-body">
                        <form asp-controller="@MfaController.Name" asp-action="@nameof(MfaController.Index)">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="form-group">
                                <label asp-for="OtpCode">@Localizer["OTP Code"]</label>
                                <input class="form-control" placeholder="@Localizer["OTP Code"]" asp-for="OtpCode" autofocus />
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="RememberClient" />
                                    <label class="form-check-label" asp-for="RememberClient">@Localizer["Remember this device"]</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" name="button" value="login">@Localizer["Login"]</button>
                        </form>
                    </div>
                }
                @if (Model.DeliveryChannel == TotpDeliveryChannel.PushNotification)
                {
                    <form id="mfa-form" asp-controller="@MfaController.Name" asp-action="@nameof(MfaController.Index)">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="OtpCode" />
                    </form>
                    <div class="card-header">
                        <h2>@Localizer["Push Notification"]</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Please approve your sign-in action.<br />
                            Do not close this browser window.<br />
                            <a href="#">Sign in with a different method</a>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @if (Model.DeliveryChannel == TotpDeliveryChannel.PushNotification)
    {
        <script type="text/javascript" src="~/lib/@@microsoft/signalr/dist/browser/signalr.min.js"></script>
        <script type="text/javascript" src="~/js/mfa.js"></script>
    }
}