@page "/login/add-phone"

@model BaseAddPhoneModel

@inject IIdentityViewLocalizer Localizer
@inject IWebHostEnvironment HostingEnvironment

@{
    var title = ViewData["Title"] = Localizer["Add phone"].Value;
    var alert = TempData.Peek<AlertModel>(BaseAddPhoneModel.TempDataKey);
}

<div class="sign-in m-auto">
    <partial name="_PageHeader" model="title" />
    <partial name="_ValidationSummary" />
    <partial name="_Alert" model="alert" />
    <form asp-route-returnUrl="@Model.Input.ReturnUrl" method="post">
        <div class="mb-3">
            <label asp-for="Input.PhoneNumber" class="form-label visually-hidden">@Localizer["Phone number"]</label>
            <input type="hidden" data-env="@HostingEnvironment.EnvironmentName" />
            <input class="form-control" type="text" placeholder="@Localizer["Phone number"]" asp-for="Input.PhoneNumber" />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="row m-0 w-100">
                <div class="col-12 py-1">
                    <button class="btn btn-info w-100" type="submit">@Localizer["Save"]</button>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Input.ReturnUrl" />
    </form>
</div>

@section scripts {
    <partial name="_ValidationScripts" />
}
