@page "/consent"

@inject IIdentityViewLocalizer Localizer

@model BaseConsentModel

@{
    ViewData["Title"] = Localizer["Consent"].Value;
}

<section class="page-consent identity-panel">
    <div class="page-header">
        <div class="client-logo pb-2">
            <img indice-if="Model.View.ClientLogoUrl is not null" class="img-fluid rounded-circle" src="@(Url.IsLocalUrl(Model.View.ClientLogoUrl) ? Url.Content(Model.View.ClientLogoUrl) : Model.View.ClientLogoUrl)" alt="Client's logo URL" />
            <img indice-if="Model.View.ClientLogoUrl is null" class="img-fluid rounded-circle" src="~/avatar/@Model.View.ClientName/128.jpg" alt="Client's logo URL" />
        </div>
        <h1><span class="header-text">@Model.View.ClientName</span></h1>
        <h3 indice-if="Model.View.ClientUrl is not null">@Localizer["This"] <a target="_blank" href="@Model.View.ClientUrl">@Localizer["app"]</a> @Localizer["would like to"]:</h3>
        <h3 indice-if="Model.View.ClientUrl is null">@Localizer["This app would like to"]:</h3>
        <small class="text-muted">* @Localizer["Uncheck the permissions you do not wish to grant."]</small>
    </div>
    <div class="page-body">
        <partial name="_ValidationSummary" />
        <form asp-action="Index" asp-controller="Consent" class="consent-form">
            <input type="hidden" asp-for="Input.ReturnUrl" />
            <div indice-if="Model.View.IdentityScopes.Any()" class="card border-0 mb-3 consent-buttons">
                <div class="card-body p-0">
                    <h4 class="card-title"><span class="bank-icon bank-icon-contact font-weight-600 pt-1 mr-1"></span>@Localizer["Personal Information"]</h4>
                    <ul class="list-group">
                        @foreach (var scope in Model.View.IdentityScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                    </ul>
                </div>
            </div>
            <hr />
            <div indice-if="Model.View.ApiScopes.Any()" class="card border-0 mb-3 consent-buttons">
                <div class="card-body p-0">
                    <h4 class="card-title"><span class="bank-icon bank-icon-permissions font-weight-600 pt-1 mr-1"></span>@Localizer["Application Access"]</h4>
                    <ul class="list-group">
                        @foreach (var scope in Model.View.ApiScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                    </ul>
                </div>
            </div>
            <div indice-if="Model.View.AllowRememberConsent" class="form-group consent-remember">
                <div class="form-check custom-checkbox d-inline-block">
                    <label class="form-check-label">
                        <input class="consent-scopecheck form-check-input" asp-for="Input.RememberConsent" />
                        @Localizer["Remember My Decision"]
                        <span class="control"></span>
                    </label>
                </div>
            </div>
            <div class="form-group consent-buttons">
                <div class="form-row m-0 w-100">
                    <div class="col-sm-6 col-12 py-1">
                        <button type="submit" name="button" value="no" class="btn btn-link btn-block">@Localizer["Cancel"]</button>
                    </div>
                    <div class="col-sm-6 col-12 py-1">
                        <button type="submit" id="submitConsent" name="Input.Button" value="yes" class="btn btn-primary btn-block" autofocus>@Localizer["Accept"]</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts  {
    <script type="text/javascript" src="~/js/consent.js" asp-append-version="true" csp-nonce="true"></script>
}