@page "/forgot-password"

@model BaseForgotPasswordModel

@inject IIdentityViewLocalizer Localizer
@inject ExtendedUserManager<User> userManager

@{
    var title = ViewData["Title"] = Localizer["Forgot password"].Value;
}

<section class="sign-in m-auto">
    <vc:page-heading title="@title" image-src="" />
    <partial name="_ValidationSummary" />
    <form method="post" autocomplete="off">
        <p class="text-muted">@Localizer["To have your password reset, enter your username or email address below. We will then send an email containing a link to reset your password."]</p>
        @if (Model.RequestSent)
        {
            <div class="alert alert-info" role="alert">
                <strong>@Localizer["Request sent"].</strong> @ViewData["message"]
            </div>
        }
        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label visually-hidden"></label>
            <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email" autofocus />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-100" type="submit">@(Model.RequestSent ? Localizer["Resend"] : Localizer["Send"])</button>
        </div>
    </form>
</section>

@section scripts {
    <partial name="_ValidationScripts" />
}
