@inject IOptions<GeneralSettings> Settings
@inject IViewLocalizer Localizer
@inject IWebHostEnvironment Environment

@{
    var settings = Settings.Value;
    var copyYear = 2021;
    var version = typeof(LoginModel).Assembly.GetName().Version.ToString();
}

<footer class="container-fluid footer">
    <div class="copyright">
        &copy; @Localizer[settings.Organization] @copyYear @(DateTime.Today.Year > copyYear ? $" - {DateTime.Today.Year}" : string.Empty)
    </div>
    <div class="links">
        <span class="sonftware-verson">v@(version)</span>
        <a indice-if="!Environment.IsProduction()" href="~/.well-known/openid-configuration" target="_blank">@Localizer["Discovery"]</a>
        <a asp-page="Privacy" target="_blank">@Localizer["Privacy"]</a>
        <a asp-page="Terms" target="_blank">@Localizer["Terms"]</a>
    </div>
</footer>
