@page "/confirm-email"

@model ConfirmEmailModel

@inject IIdentityViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Email Confirmation"];
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var langSuffix = (lang == "el") ? ".el" : string.Empty;
}

<div class="content-wrapper">
    <div class="card-wrapper">
        <div class="logo-crop">
            <div class="logo-wrapper">
                <div class="logo-inner-wrapper">
                    <img class="main-logo" src="~/img/logo@(langSuffix).svg" />
                </div>
            </div>
        </div>
        @if (ViewContext.ModelState.IsValid)
        {
            <h1>
                <span class="header-text">@Localizer["Your email has been confirmed"]!</span>
            </h1>
            <p>@Localizer["You can now close this browse window"].</p>
        }
        else if (ViewContext.ModelState.Keys.Contains("EmailVerified"))
        {
            <h1>
                <span class="header-text">@(ViewContext.ModelState["EmailVerified"]!.Errors.First().ErrorMessage)</span>
            </h1>
            <p>@Localizer["You can now close this browse window"].</p>
        }
        else
        {
            <h1>
                <span class="header-text">@Localizer["Something went wrong."]</span>
            </h1>
            <partial name="_ValidationSummary" />
        }
    </div>
</div>
