@page "/forgot-password/confirmation"

@model ForgotPasswordConfirmationModel

@inject IIdentityViewLocalizer Localizer

@{
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var langSuffix = (lang == "el") ? ".el" : string.Empty;
}

<div class="content-wrapper">
    <div class="card-wrapper">
        <div class="logo-crop">
            <div class="logo-wrapper">
                <div class="logo-inner-wrapper">
                    <img class="main-logo" src="~/img/logo@(langSuffix).svg" />
                </div>
            </div>
        </div>
        <h1>@Localizer["Forgot Password Confirmation"]</h1>
        <partial name="_ValidationSummary" />
        @if (!Model.PasswordSuccessfullyChanged)
        {
            <form data-sbind="event: { change: formChanged }" method="post" autocomplete="off" data-token="@Base64Id.Parse(Model.View.UserId)" data-userName="@Model.View.UserName">
                <div class="card border-info mt-1 mb-3 p-0">
                    <div class="card-body text-dark text-center justify-content-center align-items-center">
                        <p class="m-0">@Localizer["Please fill in your new password"].</p>
                    </div>
                </div>
                <div>
                    <input asp-for="Input.Email" readonly="readonly" class="form-control" />
                    <input asp-for="Input.Token" type="hidden" class="form-control" />
                </div>
                <div>
                    <input type="password" class="form-control" asp-for="Input.NewPassword" data-sbind="event: { keyup: passwordChanged }" placeholder="@Localizer["New Password"]" autofocus autocomplete="new-password" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div>
                    <div id="password-rules" class="password-rules">
                        <ul data-sbind="foreach: passwordRules">
                            <li class="password-rule" data-sbind="text: $data.requirement, css: { 'rule-valid': $data.isValid }"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" data-sbind="attr: { disabled: !isFormValid }">@Localizer["Send"]</button>
                </div>
            </form>
        }
        else
        {
            <div class="alert alert-success flex-col" role="alert">
                <strong>@Localizer["Password changed"].</strong>
                <div>
                    @Localizer["Please <a href=\"{0}\">login</a> with your new password", Url.PageLink("/Login") ?? throw new InvalidOperationException("Cannot generate link for login page.")]
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <partial name="_ValidationScripts" />
    <script type="text/javascript" src="~/lib/knockout/build/output/knockout-latest.js" csp-nonce="true"></script>
    <script type="text/javascript" src="~/lib/knockout-secure-binding/dist/knockout-secure-binding.min.js" csp-nonce="true"></script>
    <script type="text/javascript" src="~/js/utilities.js" csp-nonce="true"></script>
    <script type="text/javascript" src="~/js/password-rules.js" csp-nonce="true"></script>
}
