@page "/forgot-password"

@model BaseForgotPasswordModel

@inject IIdentityViewLocalizer Localizer

@{
    var title = ViewData["Title"] = Localizer["Forgot password"].Value;
}

<div class="content-wrapper">
    <div class="card-wrapper">
        <partial name="_PageHeader" model="title" />
        <p>@Localizer["To have your password reset, enter your email address below. We will then send an email containing a link to reset your password."]</p>
        <partial name="_ValidationSummary" />
        <form method="post" autocomplete="off" class="form">
            <input type="hidden" asp-for="Input.ReturnUrl" />
            @if (Model.RequestSent)
            {
                <div class="alert alert-info" role="alert">
                    <strong>@Localizer["Request sent"].</strong> @ViewData["message"]
                </div>
            }
            <div class="row">
                <div class="input-group-w-full">
                    <input asp-for="Input.Email" class="peer" type="text" class="form-control" placeholder="Email" autofocus />
                    <label asp-for="Input.Email" class="peer-focus:-translate-y-[6px] peer-focus:visible absolute">@Localizer["Email"]</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="flex justify-center items-center mt-8">
                <button class="btn btn-primary" type="submit">@(Model.RequestSent ? Localizer["Resend"] : Localizer["Send"])</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScripts" />
}