@page "/logged-out"

@model BaseLoggedOutModel

@inject IIdentityViewLocalizer Localizer

@{
    var title = ViewData["Title"] = Localizer["Logout"].Value;
    ViewData["signed-out"] = true;
}

<section class="content-wrapper @(Model.AutomaticRedirectAfterSignOut ? "hidden": "")">
    <div class="card-wrapper">
        <vc:page-heading title="@title" image-src="" />
        <p>@Localizer["You are now logged out"]</p>
        <div>
            @Localizer["Click"] <a id="PostLogoutRedirectUri" class="text-tenant-900" href="@Model.PostLogoutRedirectUri">@Localizer["here"]</a> @Localizer["to return to the application"]
            <span indice-if="Model.HasPostLogoutRedirectUri">@Model.ClientName</span>.
        </div>
        <iframe indice-if="Model.SignOutIframeUrl != null" width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    </div>
</section>

@section scripts {
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script csp-nonce="true" src="~/js/signout-redirect.js" asp-append-version="true"></script>
    }
}