@page "/login/password-expired"

@model BasePasswordExpiredModel

@inject IIdentityViewLocalizer Localizer

@{
    var title = ViewData["Title"] = Localizer["Change password"].Value;
    var tempData = TempData.Peek<ExtendedValidationTempDataModel>(BasePasswordExpiredModel.TempDataKey);
    var alert = tempData.Alert;
}

<div class="content-wrapper">
    <div class="card-wrapper">
        <partial name="_PageHeader" model="title" />
        <partial name="_ValidationSummary" />
        <partial name="_Alert" model="alert" />
        <form asp-route-returnUrl="@Model.Input.ReturnUrl" method="post" data-sbind="event: { change: formChanged }" novalidate>
            <div indice-if="@(tempData?.DisableForm != true)">
                <input type="password" class="peer" placeholder="@Localizer["New password"]" asp-for="Input.NewPassword" disabled="@(tempData?.DisableForm == true)" data-sbind="event: { keyup: passwordChanged }" />
                <label asp-for="Input.NewPassword" class="peer-focus:-translate-y-[6px] peer-focus:visible absolute">@Localizer["New password"]</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div indice-if="@(tempData?.DisableForm != true)">
                <input type="password" class="peer" placeholder="@Localizer["Νew password confirmation"]" asp-for="Input.NewPasswordConfirmation" disabled="@(tempData?.DisableForm == true)" />
                <label asp-for="Input.NewPasswordConfirmation" class="peer-focus:-translate-y-[6px] peer-focus:visible absolute">@Localizer["Νew password confirmation"]</label>
                <span asp-validation-for="Input.NewPasswordConfirmation" class="text-danger"></span>
            </div>
            <div id="password-rules" class="password-rules col-md-12">
                <ul data-sbind="foreach: passwordRules">
                    <li class="password-rule" data-sbind="text: $data.requirement, css: { 'rule-valid': $data.isValid }"></li>
                </ul>
            </div>
            <div class="row justify-items-center place-items-center">
                <div class="@(tempData?.DisableForm is true ? "col-span-6" : "col-span-12" ) flex flex-col">
                    <button class="btn btn-primary" type="submit" disabled="@(tempData?.DisableForm == true)" data-sbind="attr: { disabled: !isFormValid }">@Localizer["Save"]</button>
                </div>
                @if (tempData?.DisableForm == true && !string.IsNullOrWhiteSpace(tempData.NextStepUrl))
                {
                    <div class="col-span-6 flex flex-col">
                        <a class="btn btn-primary no-underline" href="@tempData.NextStepUrl">@Localizer["Next"]</a>
                    </div>
                }
            </div>
        </form>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScripts" />
    <script type="text/javascript" src="~/lib/knockout/build/output/knockout-latest.js" csp-nonce="true"></script>
    <script type="text/javascript" src="~/lib/knockout-secure-binding/dist/knockout-secure-binding.min.js" csp-nonce="true"></script>
    <script type="text/javascript" src="~/js/utilities.js" csp-nonce="true"></script>
    <script type="text/javascript" src="~/js/password-rules.js" csp-nonce="true"></script>
}
