@inject IViewLocalizer Localizer
@inject IOptions<GeneralSettings> SettingsWrapper
@inject UserManager<User> UserManager
@inject IOptions<IdentityUIOptions> UIOptions

@{
    Layout = "_LayoutEmail.cshtml";
}

@{
    var Settings = SettingsWrapper.Value;
var subject = ViewData["Subject"];
var body = ViewData["Body"];
var userName = Model?.UserName ?? UserManager.GetUserName(User);
}

@section preheader {
    @Localizer["Reset password"]
}

@section subject {
    <h1 style="font-size: 18px; font-family:'Century Gothic', Arial, sans-serif ,Helvetica, Arial, sans-serif; font-weight:normal">@subject</h1>
}

<p style="font-family: 'Century Gothic', Arial, sans-serif ,Helvetica, Arial, sans-serif; font-size: 12px;">
    @Localizer["Hi"] @(userName ?? string.Empty),
    <br /><br />
    <br /><br />
    @Localizer["We received a request to reset your password. If you asked to reset your password, please click the following link:"] 
    <br /><br />
    <a style="color:#@UIOptions.Value.EmailLinkColorHex" href="@Model?.Url">@Localizer["Reset password"]</a>
    <br /><br />
    @Localizer["If you did not request your password to be reset you may safely ignore this message."]
    <br /><br />
    <br /><br />
    @Localizer["Sincerely"] @Localizer[Settings.Organization!].
</p>