@inject GeneralSettings Settings
@inject IViewLocalizer Localizer
@inject IWebHostEnvironment Environment
@*#if (!DisableAppInsights)
@inject JavaScriptSnippet JavaScriptSnippet
@inject IOptions<ApplicationInsightsServiceOptions> AppInsightsOptions
#endif*@
@inject SignInManager<User> SignInManager

@{
    var dash = ViewBag.Title != null ? " - " : string.Empty;
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var langSuffix = (lang == "el") ? ".el" : string.Empty;
    var version = typeof(LoginPageModel).Assembly.GetName().Version.ToString();
    var authClass = SignInManager.IsSignedIn(User) ? "authenticated" : "anonymous";
    var bgClass = SignInManager.IsSignedIn(User) ? "gradient-bg" : "gradient-bg";
}

<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@Settings.ApplicationDescription" />
    <meta property="og:title" content="@Settings.ApplicationName @(!Environment.IsProduction() ? $"({Environment.EnvironmentName})" : string.Empty)" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="@Settings.Host" />
    <meta property="og:image" content="@Settings.Host/img/favico/facebook.png" />
    <meta property="og:description" content="@Settings.ApplicationDescription" />
    <meta name="application-name" content="@Settings.ApplicationName" />
    <meta name="msapplication-TileColor" content="#006E58" />
    @RenderSection("meta", required: false)
    <title>@ViewBag.Title @dash @Localizer[Settings.ApplicationName]</title>
    <link href="/identity-uifavicon.ico" rel="icon" type="image/vnd.microsoft.icon" sizes="16x16 32x32 64x64 128x128" />
    <link href="/identity-ui/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="preconnect" href="https://storage.googleapis.com" />
    @*#if (!DisableAppInsights)
    <script type="text/javascript" csp-nonce="true">@Html.Raw(JavaScriptSnippet.ScriptBody)</script>
    #endif*@
</head>
<body route-styles class="@authClass @bgClass">
    <link rel="stylesheet" href="/identity-ui/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="/identity-ui/css/identity.css" asp-append-version="true" />
    <link rel="stylesheet" href="/identity-ui/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="/identity-ui/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    @RenderSection("css", required: false)
    @await Html.PartialAsync("_MenuMain")
    <environment exclude="Production">
        <div class="ribbon @Environment.EnvironmentName.ToLower()">
            <span>@Environment.EnvironmentName</span>
        </div>
    </environment>
    <div class="wrapper">
        <main>
            <div class="container">
                @RenderBody()
            </div>
            @await Html.PartialAsync("_Footer")
        </main>
    </div>
    <script type="text/javascript" src="/identity-ui/lib/jquery/dist/jquery.min.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/identity-ui/lib/popper.js/dist/umd/popper.min.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/identity-ui/lib/bootstrap/dist/js/bootstrap.bundle.min.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/identity-ui/js/site.js" csp-nonce="true" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
