@inject IIdentityViewLocalizer Localizer
@inject IOptions<GeneralSettings> GeneralSettings
@inject IOptions<IdentityUIOptions> UIOptions
@inject UserManager<User> UserManager

@{
    Layout = "_LayoutEmail.cshtml";
}

@{
    var settings = GeneralSettings.Value;
    var subject = ViewData["Subject"];
    var body = ViewData["Body"];
    var userName = Model?.UserName ?? UserManager.GetUserName(User);
    var confirmationLink = Model?.Url ?? throw new InvalidOperationException("Confirmation link cannot be null.");
}

@section preheader {
    @Localizer["We need you to verify your email. Please click"] <a style="color:#@UIOptions.Value.EmailLinkColorHex" href="@confirmationLink">@Localizer["here"]</a> @Localizer["to get verified"]!
}

@section subject {
    <h1 style="font-size: 18px; font-family:'Century Gothic', Arial, sans-serif ,Helvetica, Arial, sans-serif; font-weight:normal">@Localizer[$"{subject}"]</h1>
}

<p style="font-family: 'Century Gothic', Arial, sans-serif ,Helvetica, Arial, sans-serif; font-size: 12px;">
    @Localizer["Hi"] @(userName ?? string.Empty),
    <br />
    <br />
    <br />
    <br />
    @Localizer["We need you to verify your email. Please click"] <a style="color:#@UIOptions.Value.EmailLinkColorHex" href="@confirmationLink">@Localizer["here"]</a> @Localizer["to get verified"]
    <br />
    <br />
    @Localizer["Thanks"].
    <br />
    <br />
    @Localizer["Sincerely"], @Localizer[settings.Organization].
</p>