@page "/login/add-email"

@model AddEmailPageModel

@inject IViewLocalizer Localizer

@{
    var title = ViewData["Title"] = Localizer["Verify email"].Value;
}

<div class="sign-in m-auto">
    <partial name="_PageHeader" model="title" />
    <partial name="_ValidationSummary" />
    <partial name="_Alert" model="Model.UiHint.Alert" />
    <form asp-asp-page="AddEmail" asp-route-returnUrl="@Model.Input.ReturnUrl" method="post" novalidate>
        <div class="form-group">
            <label asp-for="Input.Email" class="sr-only">@Localizer["Email"]</label>
            <input class="form-control" type="text" placeholder="@Localizer["Email"]" asp-for="Input.Email" disabled="@Model.UiHint.DisableForm" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-row m-0 w-100">
                <div class="@(Model.UiHint.DisableForm ? "col-sm-6" : String.Empty) col-12 py-1">
                    <button class="btn btn-info btn-block" type="submit" disabled="@Model.UiHint.DisableForm">@Localizer["Save"]</button>
                </div>
                @if (Model.UiHint.DisableForm || !string.IsNullOrEmpty(Model.UiHint.NextStepUrl))
                {
                    <div class="col-sm-6 col-12 py-1">
                        <a class="btn btn-info btn-block" href="@Model.UiHint.NextStepUrl">@Localizer["Next"]</a>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScripts" />
}

