@page "/change-password"

@model BaseChangePasswordModel

@inject IIdentityViewLocalizer Localizer

@{
    var title = ViewData["Title"] = Localizer["Change Password"].Value;
}

<section class="sign-in m-auto">
    <partial name="_PageHeader" model="title" />
    <partial name="_ValidationSummary" />
    @if (Model.PasswordSuccessfullyChanged)
    {
        <div class="alert alert-success" role="alert">
            <strong>@Localizer["Process completed."]</strong> @Localizer["Password successfully changed"].
        </div>
    }
    <form data-sbind="event: { change: formChanged }" data-token="@Base64Id.Parse(User.FindSubjectId())" data-userName="@(User.Identity?.Name ?? string.Empty)" novalidate method="post">
        <div class="form-group">
            <label asp-for="Input.OldPassword">@Localizer["Old password"]</label>
            <input class="form-control" type="password" placeholder="@Localizer["Old password"]" asp-for="Input.OldPassword" autocomplete="old-password" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword">@Localizer["New password"]</label>
            <input class="form-control" type="password" placeholder="@Localizer["New password"]" asp-for="Input.NewPassword" data-sbind="event: { keyup: passwordChanged }" autocomplete="new-password" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div id="password-rules" class="password-rules">
                <ul data-sbind="foreach: passwordRules">
                    <li class="password-rule" data-sbind="text: $data.requirement, css: { 'rule-valid': $data.isValid }"></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" name="button" type="submit" data-sbind="attr: { disabled: !isFormValid }">@Localizer["Change"]</button>
        </div>
    </form>
</section>

@section scripts {
    <partial name="_ValidationScripts" />
    <script type="text/javascript" src="/lib/knockout/build/output/knockout-latest.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/lib/knockout-secure-binding/dist/knockout-secure-binding.min.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/js/utilities.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/js/password-rules.js" csp-nonce="true"></script>
}
