@page "/{statusCode:range(400,404)}"

@inject IIdentityViewLocalizer Localizer

@model BaseError40XModel

@{
    var title = ViewData["Title"] = Localizer["Error"].Value;
    var error = Model.ErrorMessages.GetValueOrDefault(Model.ErrorStatusCode.GetValueOrDefault());
}

<section class="">
    <article class="text-center">
        <partial name="_PageHeader" model="string.Empty" />
        <h1 class="page-message glitch" data-text="@Model">@Model.ErrorStatusCode</h1>
        <h2 indice-if="!string.IsNullOrEmpty(error?.Title)" class="page-message-title">@Localizer[error!.Title]</h2>
        <p indice-if="!string.IsNullOrEmpty(error?.Message)" class="page-message-description">@Localizer[error!.Message]</p>
        <a class="btn btn-outline-light btn-lg" asp-page="Home">@Localizer["Go back home"]</a>
    </article>
</section>