@page "/forgot-password/confirmation"

@model BaseForgotPasswordConfirmationModel

@inject IIdentityViewLocalizer Localizer

@{
    var title = ViewData["Title"] = Localizer["Forgot Password Confirmation"].Value;
    var alert = @Localizer["Please fill in your new password"].Value;
}

<section class="sign-in p-5 m-auto">
    <partial name="_PageHeader" model="title" />
    <partial name="_ValidationSummary" />
    @if (!Model.PasswordSuccessfullyChanged)
    {
        <form data-sbind="event: { change: formChanged }" method="post" autocomplete="off">
            <input asp-for="Input.Token" type="hidden" class="form-control" />
            <partial name="_Alert" model="AlertModel.Info(alert)" />
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" readonly="readonly" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" asp-for="Input.NewPassword" data-sbind="event: { keyup: passwordChanged }" placeholder="@Localizer["New Password"]" autofocus />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div id="password-rules" class="password-rules">
                    <ul data-sbind="foreach: passwordRules">
                        <li class="password-rule" data-sbind="text: $data.requirement, css: { 'rule-valid': $data.isValid }"></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" data-sbind="attr: { disabled: !isFormValid }">@Localizer["Send"]</button>
            </div>
        </form>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            <strong>@Localizer["Password changed"].</strong> @Localizer["Please <a href=\"{0}\">login</a> with your new password", Url.PageLink("/Login") ?? throw new InvalidOperationException("Cannot generate link for login page.")]
        </div>
    }
</section>

@section scripts {
    <partial name="_ValidationScripts" />
    <script type="text/javascript" src="/lib/knockout/build/output/knockout-latest.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/lib/knockout-secure-binding/dist/knockout-secure-binding.min.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/js/utilities.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/js/password-rules.js" csp-nonce="true"></script>
}
