@page "/login/add-phone"

@model BaseAddPhoneModel

@inject IIdentityViewLocalizer Localizer
@inject IWebHostEnvironment HostingEnvironment

@{
    var title = ViewData["Title"] = Localizer["Add phone"].Value;
    var alert = TempData.Peek<AlertModel>(BaseAddPhoneModel.TempDataKey);
}

<div class="sign-in m-auto">
    <vc:page-heading title="@title" image-src="" />
    <partial name="_ValidationSummary" />
    <partial name="_Alert" model="alert" />
    <form asp-route-returnUrl="@Model.Input.ReturnUrl" method="post">
        <div class="form-group">
            <label asp-for="Input.PhoneNumber" class="sr-only">@Localizer["Phone number"]</label>
            <input type="hidden" data-env="@HostingEnvironment.EnvironmentName" />
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">@Localizer["Phone number"]</label>
                <div class="input-group">
                    <div class="input-group-prepend" style="max-width: 128px" indice-if="Model.GetPhoneCallingCodes() is not null">
                        <select class="custom-select h-100 mr-1 rounded-0" asp-for="Input.PhoneCallingCode">
                            @foreach (var option in Model.GetPhoneCallingCodes()!)
                            {
                                <option value="@option.Value" data-text="@option.Text">@option.Text</option>
                            }
                        </select>
                    </div>
                    <input class="form-control" type="text" asp-for="Input.PhoneNumber" placeholder="@Localizer["Phone number"]" />
                </div>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row m-0 w-100">
                <div class="col-12 py-1">
                    <button class="btn btn-info btn-block" type="submit">@Localizer["Save"]</button>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Input.ReturnUrl" />
    </form>
</div>

@section scripts {
    <partial name="_ValidationScripts" />
    <script type="text/javascript" src="/js/calling-codes-select.js" csp-nonce="true" data-id="@Html.IdFor(x => x.Input.PhoneCallingCode)"></script>
}
