@page "/login"

@model BaseLoginModel

@inject IIdentityViewLocalizer Localizer
@inject ExtendedUserManager<User> userManager

@{
    var title = ViewData["Title"] = Localizer["Login"].Value;
}

<section class="sign-in m-auto">
    <vc:page-heading title="@title" image-src="" />
    <partial name="_ValidationSummary" />
    @if (Model.View.VisibleExternalProviders.Any())
    {
        <div class="login-form">
            <ul class="list-unstyled">
                @foreach (var provider in Model.View.VisibleExternalProviders)
                {
                    <li class="idp idp-@provider.AuthenticationScheme!.ToLower()">
                        <a class="btn btn-@provider.AuthenticationScheme.ToLower() btn-hover" asp-page="/Challenge" asp-route-provider="@provider.AuthenticationScheme" asp-route-returnUrl="@Model.View.ReturnUrl" asp-route-prompt="@OidcConstants.PromptModes.SelectAccount">
                            @Localizer[provider.DisplayName!]
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="hr-sect">@Localizer["OR"]</div>
    }
    @if (Model.UiOptions.EnableLocalLogin)
    {
        <form asp-route-returnUrl="@Model.View.ReturnUrl" method="post">
            <input type="hidden" asp-for="Input.ReturnUrl" />
            <input type="hidden" asp-for="Input.DeviceId" />
            <div class="form-group">
                <label asp-for="Input.UserName" class="">@Localizer[userManager.EmailAsUserName ? "Email" : "Username"]</label>
                <input class="form-control" type="text" placeholder="@Localizer[userManager.EmailAsUserName ? "Email" : "Username"]" asp-for="Input.UserName" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="">@Localizer["Password"]</label>
                <input class="form-control" type="password" placeholder="@Localizer["Password"]" asp-for="Input.Password" autocomplete="off" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.UiOptions.AllowRememberLogin)
                {
                    <div class="form-check custom-checkbox d-inline-block">
                        <label class="form-check-label">
                            <input asp-for="Input.RememberLogin" type="checkbox" class="form-check-input text-info" />
                            <span class="control"></span>
                            @Localizer["Remember me"]
                        </label>
                    </div>
                }
                @if (Model.UiOptions.EnableForgotPasswordPage)
                {
                    <a class="btn btn-link p-0 text-md float-right text-blue" asp-page="/ForgotPassword">@Localizer["Forgot password?"]</a>
                }
            </div>
            <div class="form-group">
                <div class="form-row m-0 w-100">
                    @if (Model.UiOptions.EnableRegisterPage)
                    {
                        <div class="col-sm-6 col-12 py-1">
                            <a class="btn btn-link btn-block" asp-page="/Register" asp-route-returnUrl="@Model.View.ReturnUrl">
                                @Localizer["Join us"]
                            </a>
                        </div>
                    }
                    <div class="@(Model.UiOptions.EnableRegisterPage ? "col-sm-6" : string.Empty) col-12 py-1">
                        <button class="btn btn-primary btn-block" name="button" value="login" type="submit">@Localizer["Sign in"]</button>
                    </div>
                </div>
            </div>
        </form>
    }
    @if (!Model.UiOptions.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>@Localizer["Invalid login request"]</strong>
            @Localizer["There are no login schemes configured for this client."]
        </div>
    }
</section>

@section scripts {
    <partial name="_ValidationScripts" />
    <script csp-nonce="true">
        document.querySelectorAll('.idp a').forEach(function (el) {
            el.onclick = function (link) {
                if (!link.target.classList.contains('disabled')) {
                    link.target.classList.add('disabled');
                }
            };
        });
    </script>
    @if (Model.View.GenerateDeviceId)
    {
        <script type="text/javascript" src="/lib/@@fingerprintjs/fingerprintjs/dist/fp.min.js" csp-nonce></script>
        <script type="text/javascript" src="/js/mfa.js" csp-nonce></script>
        <script type="text/javascript" csp-nonce>
            $(document).ready(function () {
                var viewModelParameters = {
                    $deviceIdInput: $('#Input_DeviceId'),
                    browserFamily: '@Request.GetBrowserName()'
                };
                var viewModel = new indice.mfaViewModelFactory(viewModelParameters);
                viewModel.init();
                viewModel.calculateDeviceId();
            });
        </script>
    }
}
