@page "/login/password-expired"

@model BasePasswordExpiredModel

@inject IIdentityViewLocalizer Localizer

@{
    var title = ViewData["Title"] = Localizer["Change password"].Value;
    var tempData = TempData.Peek<ExtendedValidationTempDataModel>(BasePasswordExpiredModel.TempDataKey);
}

<div class="sign-in m-auto">
    <vc:page-heading title="@title" image-src="" />
    <partial name="_ValidationSummary" />
    <partial name="_Alert" model="tempData?.Alert" />
    <form asp-route-returnUrl="@Model.Input.ReturnUrl" method="post" data-sbind="event: { change: formChanged }" data-token="@Base64Id.Parse(User.FindSubjectId()!)" data-userName="@(User.FindFirstValue(JwtClaimTypes.Name) ?? string.Empty)">
        <input type="hidden" asp-for="Input.ReturnUrl" />
        <div class="form-group" indice-if="@(tempData?.DisableForm != true)">
            <label asp-for="Input.NewPassword" class="sr-only">@Localizer["New password"]</label>
            <input class="form-control" type="password" placeholder="@Localizer["New password"]" asp-for="Input.NewPassword" disabled="@(tempData?.DisableForm == true)" data-sbind="event: { keyup: passwordChanged }" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group" indice-if="@(tempData?.DisableForm != true)">
            <label asp-for="Input.NewPasswordConfirmation" class="sr-only">@Localizer["Νew password confirmation"]</label>
            <input class="form-control" type="password" placeholder="@Localizer["Νew password confirmation"]" asp-for="Input.NewPasswordConfirmation" disabled="@(tempData?.DisableForm == true)" />
            <span asp-validation-for="Input.NewPasswordConfirmation" class="text-danger"></span>
        </div>
        <div class="row">
            <div id="password-rules" class="password-rules col-md-12">
                <ul data-sbind="foreach: passwordRules">
                    <li class="password-rule" data-sbind="text: $data.requirement, css: { 'rule-valid': $data.isValid }"></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row m-0 w-100">
                <div class="@(tempData?.DisableForm == true ? "col-sm-6" : String.Empty) col-12 py-1">
                    <button class="btn btn-info btn-block" type="submit" disabled="@(tempData?.DisableForm == true)" data-sbind="attr: { disabled: !isFormValid }">@Localizer["Save"]</button>
                </div>
                @if (tempData?.DisableForm == true && !string.IsNullOrWhiteSpace(tempData.NextStepUrl))
                {
                    <div class="col-sm-6 col-12 py-1">
                        <a class="btn btn-info btn-block" href="@tempData.NextStepUrl">@Localizer["Next"]</a>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScripts" />
    <script type="text/javascript" src="/lib/knockout/build/output/knockout-latest.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/lib/knockout-secure-binding/dist/knockout-secure-binding.min.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/js/utilities.js" csp-nonce="true"></script>
    <script type="text/javascript" src="/js/password-rules.js" csp-nonce="true"></script>
}
