@page "/manage/profile"

@inject IIdentityViewLocalizer Localizer

@model BaseProfileModel

@{
    var title = ViewData["Title"] = Localizer["Profile"].Value;
    var alert = TempData.Get<AlertModel>("Alert");
}

<section class="sign-up m-auto">
    <partial name="_PageHeader" model="title" />
    <div id="send-confirmation-success" class="alert alert-success d-none" style="margin-bottom: 5px;">
        @Localizer["A confirmation email has been sent to {0}.", Model.View.Email ?? throw new InvalidOperationException("User email cannot be null.")]
    </div>
    <div id="send-confirmation-error" class="alert alert-danger d-none" style="margin-bottom: 5px;">
        @Localizer["Confirmation email delivery failed. Please contact system administrator."]
    </div>
    @if (Model.ProfileSuccessfullyChanged)
    {
        var message = Localizer["Your profile was updated successfully."].Value;
        if (Model.EmailChangeRequested)
        {
            message += $" {Localizer["An email has been sent to your new email address in order to confirm it."].Value}";
        }
        <partial name="_Alert" model="@AlertModel.Success(message)" />
    }
    @if (Model.View.EmailChangePending && !Model.ProfileSuccessfullyChanged)
    {
        <partial name="_Alert" model="@AlertModel.Warn(Localizer.GetString("Your new email verification is still pending."))" />
    }
    <partial name="_Alert" model="alert" />
    <partial name="_ValidationSummary" />
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.FirstName">@Localizer["First name"]</label>
                    <input class="form-control" type="text" placeholder="@Localizer["First name"]" asp-for="Input.FirstName" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.LastName">@Localizer["Last name"]</label>
                    <input class="form-control" type="text" placeholder="@Localizer["Last name"]" asp-for="Input.LastName" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.UserName">@Localizer["Username"]</label>
                    <input class="form-control" type="text" placeholder="@Localizer["Username"]" asp-for="Input.UserName" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.Email">
                        @Localizer["Email"]
                        <a indice-if="Model.View.EmailChangePending" href="#" id="resend-email-link" style="font-size: x-small;">(@Localizer["Confirmation"] →)</a>
                    </label>
                    <input class="form-control" type="text" placeholder="@Localizer["Email"]" asp-for="Input.Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber">@Localizer["Phone number"]</label>
                    <div class="input-group">
                        <select indice-if="Model.GetPhoneCountriesList() is not null" class="form-select" asp-for="Input.PhoneCallingCode" asp-items="Model.GetPhoneCountriesList()"></select>
                        <input class="form-control" type="text" asp-for="Input.PhoneNumber" placeholder="@Localizer["Phone number"]" />
                    </div>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.Tin">@Localizer["Tax identification"]</label>
                    <input class="form-control" type="text" placeholder="@Localizer["Tax identification"]" asp-for="Input.Tin" />
                    <span asp-validation-for="Input.Tin" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.BirthDate">@Localizer["Birth date"]</label>
                    <input class="form-control" type="date" placeholder="@Localizer["Birth date"]" asp-for="Input.BirthDate" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row" indice-if="Model.View.HasDeveloperTotp">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.DeveloperTotp">@Localizer["Developer TOTP"]</label>
                    <input class="form-control" type="text" placeholder="@Localizer["Developer TOTP"]" readonly="readonly" asp-for="Input.DeveloperTotp" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check custom-checkbox d-inline-block">
                <label class="form-check-label" asp-for="Input.ConsentCommercial">
                    <input asp-for="Input.ConsentCommercial" type="checkbox" class="form-check-input text-info" />
                    <span class="control flex-shrink-0"></span>
                    <span class="d-inline">
                        @Localizer["I have been informed about the processing of my personal data and I consent to it, as specifically defined"]
                        <a style="font-weight:bold" target="_blank" href="/privacy" onclick="event.stopPropagation();">@Localizer["here"].</a>
                    </span>
                </label>

            </div>
        </div>
        <div class="form-group">
            <div class="form-row m-0 w-100">
                <div class="col-12 py-1">
                    <button class="btn btn-primary btn-block" type="submit">@Localizer["Save"]</button>
                </div>
            </div>
        </div>
    </form>
</section>
<br />
<section class="identity-panel wide m-auto" indice-if="Model.View.CurrentLogins?.Count > 0 || Model.View.OtherLogins.Count > 0">
    <h2>
        <span class="header-text text-center">@Localizer["External providers"]</span>
    </h2>
    @{
        var alertProviders = TempData.Get<AlertModel>("AlertProviders");
    }
    <partial name="_Alert" model="alertProviders" />
    @if (Model.View.CurrentLogins.Count > 0)
    {
        <div class="login-form">
            <h4>@Localizer["Existing providers"]</h4>
            @foreach (var provider in Model.View.CurrentLogins)
            {
                <div class="row idp-@provider.LoginProvider.ToLower()">
                    <div class="col-sm-9">
                        <a class="btn btn-@provider.LoginProvider.ToLower() btn-hover btn-md inline-block cursor-pointer">@Localizer[string.IsNullOrEmpty(provider.ProviderDisplayName) ? provider.LoginProvider : provider.ProviderDisplayName]</a>
                    </div>
                    <div class="col-sm-3">
                        <form asp-page-handler="RemoveLogin" method="post" class="inline">
                            <input asp-for="InputLoginLink.LoginProvider" type="hidden" value="@provider.LoginProvider" />
                            <input asp-for="InputLoginLink.ProviderKey" type="hidden" value="@provider.ProviderKey" />
                            <button type="submit" class="btn btn-remove remove-idp btn-md" disabled="@(!Model.View.CanRemoveProvider)">@Localizer["Remove"]</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    }
    @if (Model.View.OtherLogins.Count > 0)
    {
        <div class="mt-3">
            <h4>@Localizer["Connect a new provider"]</h4>
            <ul class="list-unstyled">
                @foreach (var provider in Model.View.OtherLogins)
                {
                    <li class="idp idp-@provider.Name.ToLower()">
                        <a class="btn btn-@provider.Name.ToLower() btn-hover" asp-page-handler="LinkLogin" asp-route-provider="@provider.Name">
                            @Localizer[provider.DisplayName ?? "Unknown"]
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</section>

@section scripts {
    <script type="text/javascript" csp-nonce="true">
        $(document).ready(function () {
            $('#resend-email-link').click(function () {
                $.ajax({
                    url: '@Url.PageLink(pageName: "/ConfirmEmail", pageHandler: "Resend"))',
                    type: 'GET',
                    dataType: 'json',
                    statusCode: {
                        204: function () {
                            $('#resend-email-link').addClass('disabled');
                            $('#send-confirmation-success').removeClass('d-none');
                        },
                        500: function () {
                            $('#send-confirmation-error').removeClass('d-none');
                        }
                    }
                });
            });
        });
    </script>
    <partial name="_ValidationScripts" />
    <script csp-nonce="true">
        document.querySelectorAll('.idp a').forEach(function (el) {
            el.onclick = function (link) {
                if (!link.target.classList.contains('disabled')) {
                    link.target.classList.add('disabled');
                }
            };
        });
    </script>
}
